/* Header */
.dwkit-formadmin-header-logo{
    margin-left: 25px;
    cursor: pointer;
}

.dwkit-formadmin-header{
    height: 50px;
}

.dwkit-formadmin-header-left{
    width: 200px;
    float: left;
    margin-top: 18px;
}

.dwkit-formadmin-header-center{
    float: left;
    margin-top: 5px;
    margin-left: 70px;
    width: calc(100% - 500px);
    color:red;
}

.dwkit-formadmin-header-center .ui.fluid.search > .ui.icon.input{
    width: 100%;
}

.dwkit-formadmin-header-center .ui.fluid.search > .ui.icon.input > input{
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #F24D00;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}
.dwkit-formadmin-header-right{
    float:right;
    margin-top: 5px;
    margin-right: 10px;
}
.dwkit-formadmin-header-right .username{
    color: #475662;
    margin-left: 10px;
    margin-right: 10px;
}



/* Menu */
.dwkit-formadmin-menu{
    max-width: 250px;
    float: left;
    background-color: #508a2d;
    /* height: 300px;
    min-height: calc(100vh - 90px);
    overflow-y: auto;  */
}

.ui.menu{
    border: none;
}

.dwkit-formadmin-menu > .ui.vertical.menu > .item{
    color: white;
}

.dwkit-formadmin-menu .ui.vertical.menu .item > .menu > .item{
    color: rgba(255,255,255,0.80);
}

.dwkit-formadmin-menu .ui.vertical.menu .item > .menu > .item:hover, 
    .dwkit-formadmin-menu .ui.vertical.menu .item > .menu > .active.item:hover{
    color: white;
}

.dwkit-formadmin-menu .ui.vertical.menu .item > .menu > .active.item{
    color: white;
}

.dwkit-formadmin-menu > .ui.vertical.menu{
    background: transparent;
}

.dwkit-formadmin-menu .ui.menu { 
    font-family: 'Lato', 'sans-serif';
    box-shadow: none;
    background: transparent;
    margin-left: 30px;
    margin-right: 30px;
}

.dwkit-formadmin-menu .ui.vertical.menu {
    width: 190px;
    margin-top: 15px;
}

.dwkit-formadmin-menu .ui.menu > .item:last-child { 
    border-bottom-style: none;
}

.dwkit-formadmin-menu .ui.menu > .item { 
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255,255,255,0.40);
}

.dwkit-formadmin-menu .ui.menu > .item:hover { 
    background: transparent!important;
    color: white;
    border-bottom-color: white;
}

.dwkit-formadmin-menu .ui.menu > .active.item:hover { 
    background: transparent!important;
    color: white;
}

.dwkit-formadmin-menu .ui.menu > .active.item { 
    font-weight: bold;
    background: transparent;
}

.dwkit-formadmin {
    display: flex; 
    align-items: stretch;
    min-height: calc(100% - 50px);
}

/* Content */
.dwkit-formadmin-basecontent{
    width: calc(100% - 250px);
    float: right;
    /* background-color: #F9F9F9; */
    /* height: 300px;*/
    min-height: calc(100vh - 100px);
}

.dwkit-formadmin-top{
    background-image: linear-gradient(-180deg, #F2F2F2 0%, rgba(254,254,254,0.00) 100%);
    height: 15px;
    width: 100%;
}

.dwkit-formadmin-content{
    margin-left: 15px;
    margin-right: 15px;
}

.dwkit-formadmin-content h1{
    color: #1362E2;
    font-weight: normal;
}

.dwkit-formadmin-content h2{
    color: #1362E2;
    font-weight: normal;
}

.dwkit-formadmin-content h3{
    color: #1362E2;
    font-weight: normal;
}

.dwkit-formadmin-content .ui.message{
    background: transparent;
}

/* Form builder */
.segment.dwkit-formadmind-sementtop{
    color : white;
    background-color: #1443df;
}

.dwkitadmin-toolbar{
    margin-bottom: 10px;
}

.dwkit-admin-wfdesigner-buttons{
    margin-top: 5px;
    margin-bottom: 5px;
}

.dwkit-admin-form-buttons{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container{
    height: 100%;
}

.dwkit-admin-formbuilder-container-fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 950px; /*100vh*/
    z-index: 1;
    background: white;
}

.dwkit-admin-formbuilder-container-fullscreen > div{
    margin: 5px 5px 5px 5px;
}

.ui.vertical.menu .item .menu .active.item{
    color: #1443df;
}

.ui.vertical.menu .item .menu .active.item:hover{
    color: #1443df;
}

.dwkit-formbuilder-toolbox{
    float: right !important;
}

.dwkit-formadmin-rolepersmissionsgroup > label{
    margin-left: 15px;
    width: 70px;
}

.dwkit-formadmin-dashboard-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dwkit-formmapping-zone{
    min-height: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
    text-align: center;
    /* width: 100%; */
    background: #EEF4FD;
    opacity: 0.5;
    color: #9B9B9B;
    border: 1px dashed #E1E9F6;
}

.dwkit-formmapping-zone-active{
    opacity: 0.5;
    background: #E1E9F6;
    border: 1px dashed #1362E2;
}

.dwkit-formmapping-zone-select{
    opacity: 1;
    background: #E1E9F6;
    border: 1px solid #1362E2;
}

.dwkit-formmapping-ref{
    margin-left: 15px;
    width: 400px;
    background: #F8F8F9;
}

.dwkit-formmapping-collection{
    padding-left: 0px;
}

.dwkit-formmapping-collection-row{
    margin-left: 7px;
}

.dwkit-formmapping-collection .dwkit-formmapping-collection-row:first{
    margin-top: 1px;
}

.dwkit-formmapping-collection-row > .ui.form > .fields > .field > .ui.checkbox{
    margin-top: 30px;
}

/* Controls */
.dwkit-buttonimage{
    height: 13px;
    cursor: pointer;
}

.dwkit-formadmin-content a{
    color: #F24D00;
    cursor: pointer;
}

.dwkit-formadmin-content hr{
    background: rgba(148,149,154,0.20);
}

.dwkit-formadmin-item{
    margin-top: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}

.dwkit-formadmin-item .ui.form div.field.operationflag{
    margin-top: 15px;
}

.dwkit-formadmin-segment{
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}

.dwkit-formadmin-info{
    color: rgba(104,104,104,0.80);
    text-align: center;
}

.dwkit-formadmin-formedit{
    max-width: 800px;
}

.dwkitadmin-toolbar-editform{
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}

.dwkitadmin-formmapping{
    width: 900px;
}
.dwkitadmin-formmapping-left{
    width: 500px;
    float: left;
}
.dwkitadmin-formmapping-right{
    width: 300px;
    float: left;
    margin-left: 15px;
}

.dwkit-formadmin-imgbutton{
    height: 15px;
    width: 15px;
}

.dwkit-formadmin-imgbuttondiv{
    margin-left: 7px;
}

.dwkitadmin-formmapping-left .ui.form .fields{
    margin-bottom: 0px;
    padding-right: 5px;
}

.dwkit-formmapping-ref .fields.dwkit-formadmin-mapping-attribute{
    padding-left: 5px;
    padding-top: 5px;
}

.dwkit-formadmin-mapattributes .dwkit-formadmin-imgbuttondiv{
    margin-left: -15px;
    margin-top: 11px;
}

.gridcheckbox .ui.checkbox{
    margin-top: 10px;
}

.dwkit-formadmin-mapattributes .dwkit-formmapping-zone{
    width: 100px;
    margin-bottom: 10px;
}

.dwkit-formmapping-collection-row .dwkit-formadmin-imgbuttondiv{
    margin-left: -15px;
    margin-top: 10px;
}


.dwkit-formmapping-collection-row .dwkit-formadmin-imgbuttondiv2{
    margin-left: 0px;
    margin-top: 31px;
}

.dwkit-formmapping-collection-row .dwkit-formmapping-zone{
    width: 100px;
}

.dwkit-formmapping-collection-row .field{
    width: 150px;
}

.dwkit-formmapping-collection-row .children.field{
    margin-left: 30px
}

.dwkit-formadmin-imgbutton {
    cursor: pointer;
    
}

.ui.form .dwkit-formadmin-mapattributes{
    margin-left: 25px;
}

.dwkit-formmapping-collection-toolbar{
    margin-bottom: 10px;
}

.dwkit-admin-codeactions-definefunctionname{
	color: #1262E2;
	font-weight: 600;
}

.dwkit-admin-codeactions-define{
       font-size: 16px;
}

.dwkit-admin-codeactions-result{
    width: 100%;
    min-height: 150px;
    margin-top: 10px;
    border: 1px solid;
}

.mapdatacontrol{
    margin-top: 2px;
    margin-bottom: 18px;
    
    padding-left: 10px;
    padding-right: 10px;

    background: #F9F9F9;
    border: 1px solid rgba(148,149,154,0.20);
    border-radius: 4px;
    font-size: 14px;
    color: #465662;
    line-height: 28px;

    cursor: pointer;
}

.dwkit-formmapping-collection-row .mapdatacontrol{
    margin-top: 22px;
    margin-bottom: 17px;
    margin-right: 10px;
}

.dwkit-formmapping-collection-row .dwkit-formmapping-zone{
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 17px;
}

/*//////
Loading 
//////*/

.dwkit-formadmin-loadingscreen{
    text-align: center;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 300px;
    position: absolute;
    margin-top: -120px;
    margin-left: -225px;
}

.dwkit-formadmin-loadingscreen-logo{
    height: 30px;
}

/*
 Others
*/

div.field > label {
    font-size: 12px!important;
    color: #97A3B4!important;
    line-height: 16px!important;
    font-weight: inherit!important;
}

.ui.dropdown .menu {
	width: 100%!important;
}

.ui.dropdown > .text {
	width: calc(100% - 20px)!important;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover{
    border-color: #1362E2;
}

.ui.secondary.pointing.menu .active.item > span{
    color: #1362E2;
}


.react-grid-Grid{
    border:none;
}
.react-grid-Main{
    outline: none;
}

.react-grid-Header{
    background: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(148,149,154,0.20);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}

.react-grid-HeaderCell{
    border:none;
    background: transparent;
}

.react-grid-Row{
    cursor: pointer;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}

.react-grid-Cell--locked:last-of-type{
    border:none;
}

.react-grid-Cell{
    border:none;
    background: transparent;
}

.ui.form .fields .field {
    margin: 0 0 1em;
}

.dwkitadmin-formmapping-triggers{
    clear: both;
}

/* .ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.fullScreen {
    overflow: hidden
} */